table {
    font-size: 1.5em;
}

th:nth-child(1), td:nth-child(1) {
    width: 5%;
}

th:nth-child(2), td:nth-child(2) {
    width: 20%;
    font-weight: bold;
}

th:nth-child(3), td:nth-child(3) {
    width: 50%;
}

th:nth-child(4), td:nth-child(4) {
    width: 5%;
    text-align: center;
}

th:nth-child(5), td:nth-child(5) {
    width: 10%;
    text-align: right;
}

th:nth-child(6), td:nth-child(6) {
    width: 10%;
    text-align: right;
    font-weight: bold;
}

tbody tr {
    line-height: 2em;
}

.card {
    height: 20vh;
    text-align: center;
    font-size: 1.5em;
}

.actions {
    height: 80vh;
}