table {
    font-size: 1.5em;
}

th:nth-child(1), td:nth-child(1) {
    width: 5%;
}

th:nth-child(2), td:nth-child(2) {
    width: 20%;
    font-weight: bold;
}

th:nth-child(3), td:nth-child(3) {
    width: 47%;
}

th:nth-child(4), td:nth-child(4) {
    width: 5%;
    text-align: center;
}

th:nth-child(5), td:nth-child(5) {
    width: 10%;
    text-align: right;
}

th:nth-child(6), td:nth-child(6) {
    width: 10%;
    text-align: right;
    font-weight: bold;
}

th:nth-child(7), td:nth-child(7) {
    width: 3%;
    text-align: right;
    font-weight: bold;
    color: red;
}

td:nth-child(7) {
    cursor: pointer;
}

tbody tr {
    line-height: 2em;
}

.card {
    height: 20vh;
    text-align: center;
    font-size: 1.5em;
}

.actions {
    height: 80vh;
}

.buttonDiv {
    height: 50%;
}

.buttonDiv button, .buttonDiv a {
    margin-top: 25%;
    height: 50%;
}

.buttonDiv a {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quantity::-webkit-inner-spin-button,
    #quantity::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        -moz-appearance: textfield;
    }